h1 {
  color: purple;
  font-family: serif;
  text-align: center;
  font-weight: bolder;
}

h2 {
  text-align: center;
  color: green;
}

p {
  font-size: 24px;
  text-align: center;
}

li {
  font-weight: bold;
  color: cyan;
  }
